@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


* {
  box-sizing: border-box;
  font-family: Inconsolata,Comic Sans MS, Arial, Helvetica, sans-serif;
}

body {
  background-color: #2389ee;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.header {
  width: 100vw;
  padding-bottom: 5px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.header h1, p {
  margin: 10px auto;
  text-align: center;
}

.game-container {
  padding: 10px 30px;
  position: relative;
  margin: 0 auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #133247;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2389ee;
  border-radius: 50px;
  height: 35vh;
  width: 25vw;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2389ee;
  border: 0;
  border-radius: 50px;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.popup button:hover {
  background-color: #2389ee;
  color: #fff;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.5s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}